__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.env/

.env.development

# VS Code and IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Generated runtime data
data/
*.sqlite3

downloads/rfps/*.pdf